<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<div class="hs-item set-bg" data-setbg="/img/bg.jpg">
			<div class="container">
				<h2>Algorithm 7</h2>
				<h3>Bulletproof Hosting</h3>
				<!-- <p>Don't tell</p>
					<div class="clearfix"></div>
					<a href="" class="site-btn sb-c1">Read More</a> -->
			</div>
		</div>
		<div class="hs-item set-bg" data-setbg="img/bg.jpg">
			<div class="container">

				<h2>
					Simple. Don't Ask. Don't Tell.
				</h2>

			</div>
		</div>
	</div>
</section>




<section class="feature-section spad">
	<div class="container">
		<div class="row">
			<div class="col-md-4 feature">
				<img src="/img/feature-icons/5.png" alt="#">
				<h4>Anonymous</h4>
				<p>We ask no personal information from you. No name. No ID. No credit card.</p>
			</div>
			<div class="col-md-4 feature">
				<img src="/img/feature-icons/2.png" alt="#">
				<h4>Safe & Secure</h4>
				<p>Security measures implemented by professionals. No user information is recorded. </p>
			</div>
			<div class="col-md-4 feature">
				<img src="/img/feature-icons/1.png" alt="#">
				<h4>Multiple Server Location</h4>
				<p>U.S.A, France, Switzerland, Taiwan</p>
			</div>
		</div>
	</div>
</section>







<section class="page-top-section set-bg" data-setbg="img/page-top-bg/1.jpg">
	<div class="container">
		<h2>About Us</h2>
	</div>
</section>

<section class="about-intro-section spad">
	<div class="container">
		<div class="section-title">
			<p>The only ones</p>
			<h2>We Generate Trust</h2>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="about-intro-pic">
					<img src="img/algo.svg" style="background-color:beige" height="300" width="600" alt="">
					<a href="https://www.youtube.com/watch?v=OI1W0MK5rwA" class="video-play video-popup"><i
							class="fa fa-play"></i></a>
				</div>
			</div>
			<div class="col-lg-6 about-intro-text">
				<p>
					<algo>Algorithm 7</algo> is web hosting company that offers a high level of anonymity and
					privacy.
					We are,
					in general, very linient about the contents that you can host and
					things
					that
					you can do on our servers. More, we protect your data and will never reveal them to
					thrid parties under any circumtances. <algo>Algorithm 7</algo> upholds the philosophy of
					<slogan>
						"Don't ask.
						Don't tell"</slogan>. If you feel like there is a need to remove your contents from
					our servers for any reason, we offer to format the storage device physically to ensure ultimate
					security.
					Furthermore, after removal, we can offer to send you a hardware media storage of your choice
					with all your data. Last, but definetly not the least, we can move all of our
					infrastructures under a maximum of <time>24 hours </time> in case of emergency.
				</p>

			</div>
		</div>
	</div>
</section>





<section class="what-section spad set-bg" data-setbg="img/what-bg.jpg">
	<div class="container-fluid">
		<div class="section-title text-white">
			<p>The only ones</p>
			<h2>What we do</h2>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="what-card">
					<img src="img/what/hosting.svg" alt="">
					<p></p>
					<div class="wc-text">
						<h5>Website Hosting</h5>
						<p>Host your personal website. No matter what's about (<a href="terms ">Terms &
								Conditions</a>). We'll handle all the works behind like load balancing and DDOS
							prevention with no additional charge. </p>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="what-card">
					<img src="img/what/webapp.svg" alt="">
					<p></p>
					<div class="wc-text">
						<h5>Web Application Hosting</h5>
						<p>Deploy your web application with us. We support various configurations and software
							requirements. Database, programming language, and runtime environment.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="what-card">
					<img src="img/what/domain.svg" alt="">
					<p></p>
					<div class="wc-text">
						<h5>Domain Management</h5>
						<p>Register a private
							and anonymous domain. We'll handle all the registration process
							for you. No personal
							information is required. A personal <a href="https://www.cloudflare.com">Cloudflare</a>
							account at the end for you
							to
							manage your domain </p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="what-card">
					<img src="img/what/ssh.svg" alt="">
					<p></p>
					<div class="wc-text">
						<h5>SSH Tunnel</h5>
						<p>Are VPNs too costly for you? Don't have a static IP for your project? No problem. With
							SSH
							Tunnel a.k.a poor man's VPN, you have got your problems handled. No log is kept at all.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="milestones-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="milestone-icon">
					<img src="/img/milestone-icons/server.svg" alt="">
				</div>
				<div class="milestone-text text-white">
					<h2>5</h2>
					<p>Server Location</p>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6">
				<div class="milestone-icon">
					<img src="img/milestone-icons/migration.svg" alt="">
				</div>
				<div class="milestone-text text-white">
					<h2>24</h2>
					<p>Hours Infrastructure Migration</p>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6">
				<div class="milestone-icon">
					<img src="img/milestone-icons/continent.svg" alt="">
				</div>
				<div class="milestone-text text-white">
					<h2>3</h2>
					<p>Continents</p>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6">
				<div class="milestone-icon">
					<img src="img/milestone-icons/hardened.svg" alt="">
				</div>
				<div class="milestone-text text-white">
					<h2>∞</h2>
					<p>Hardened Servers</p>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="page-top-section set-bg" data-setbg="img/page-top-bg/1.jpg">
	<div class="container">
		<h2>Why Us?</h2>
	</div>
</section>
<!-- Services section -->
<section class="Services-section spad">
	<div class="container">
		<div class="section-title">
			<p>The only ones</p>
			<h2>Our Best Services</h2>
		</div>
		<div class="row services-circle">

			<div class="col-lg-5 col-md-6">
				<ul class="service-list service-list-left">
					<li>
						<div class="sl-icon">
							<img src="img/service-icons/1.png" alt="">
						</div>
						<div class="sl-content">
							<h4>Ultimate Privacy</h4>
							<p>It's simple: we don't ask anything about you, and we don't tell anything about you to
								anyone else.</p>
						</div>
					</li>
					<li>
						<div class="sl-icon">
							<img src="img/service-icons/3.png" alt="">
						</div>
						<div class="sl-content">
							<h5>Emergency Migration Under 24HRS</h5>
							<p>In case of emergency, our team around the world can move our whole infrastructures
								under
								a maximum of 24 hours. Operation is expected to be resumed in under 48hrs.
							</p>
						</div>
					</li>
					<li>
						<div class="sl-icon">
							<img src="img/service-icons/2.png" alt="">
						</div>
						<div class="sl-content">
							<h4>Hardware Storage Formatting</h4>
							<p>We offer to physically format the storage hardware for you upon request. Free of
								charge.
							</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-lg-5  col-md-6 offset-lg-2">
				<ul class="service-list service-list-right">
					<li>
						<div class="sl-icon">
							<img src="img/service-icons/4.png" alt="">
						</div>
						<div class="sl-content">
							<h4>Backup Data Delivery</h4>
							<p>In the case of emergency shutdown, we offer to send all your data to you using a
								media
								storage of your choice.</p>
						</div>
					</li>
					<li>
						<div class="sl-icon">
							<img src="img/service-icons/5.png" alt="">
						</div>
						<div class="sl-content">
							<h4>Linient Hosting Policy</h4>
							<p>You can do whatever you want as long as you follow the <a href="terms">rules</a>.</p>
						</div>
					</li>
					<li>
						<div class="sl-icon">
							<img src="img/service-icons/6.png" alt="">
						</div>
						<div class="sl-content">
							<h4>Server location across the continent</h4>
							<p>We have servers located at Europe, Asia, and America.</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="service-main-circle">
				<img src="img/ourservice.svg" height="251" width="500" alt="">
			</div>
		</div>
	</div>
</section>

<section class="pricing-section spad">
	<div class="container-fluid">
		<div class="section-title text-white">
			<p>The only ones</p>
			<h2>Offers</h2>
		</div>
		<div class="row">

			<div class="col-md-3 ">
				<div class="pricing-card">
					<div class="pc-header">
						<h4>SSH Tunnel</h4>
						<h5>CHF 5+<span>/month</span></h5>
					</div>
					<div class="pc-details">
						<div class="pc-icon">
							<img src="img/pricing-icons/tunnel.svg" alt="#">
						</div>
						<ul>
							<li>Bulletproof</li>
							<li>Unlimited Traffic</li>
							<li>Port Changes</li>
							<li>0 Log & Monitoring</li>
							<li>Cancel at Anytime</li>

						</ul>
						<a href="mailto:service@gpucluster.net?subject=BPTunnel" class="site-btn">Get Quotes</a>
					</div>
				</div>
			</div>

			<div class="col-md-3  ">
				<div class=" pricing-card">
					<div class="pc-header">
						<h4>Domain Management</h4>
						<h5>CHF 12+<span>/month</span></h5>
					</div>
					<div class="pc-details">
						<div class="pc-icon">
							<img src="img/pricing-icons/domain.svg" alt="#">
						</div>
						<ul>
							<li>Bulletproof</li>
							<li>Anonymous WHOIS Record</li>
							<li>Obfuscated DNS Record</li>
							<li>Masked IP</li>
							<li>DDOS Protection + SSL Certificate</li>
						</ul>
						<a href="mailto:service@gpucluster.net?subject=BPDomain" class="site-btn">Get Quotes</a>
					</div>
				</div>
			</div>

			<div class="col-md-3  ">
				<div class=" pricing-card">
					<div class="pc-header">
						<h4>Website Hosting</h4>
						<h5>CHF 15+<span>/month</span></h5>
					</div>
					<div class="pc-details">
						<div class="pc-icon">
							<img src="img/pricing-icons/website.svg" alt="#">
						</div>
						<ul>
							<li>Bulletproof</li>
							<li>Unlimited Visit</li>
							<li>Unlimited Subdomain Names</li>
							<li>DDOS Protection</li>
							<li>Free SSL Certificate</li>

						</ul>
						<a href="mailto:service@gpucluster.net?subject=BPWebsite" class="site-btn">Get Quotes</a>
					</div>
				</div>
			</div>



			<div class="col-md-3  ">
				<div class=" pricing-card">
					<div class="pc-header">
						<h4>Web Application Hosting</h4>
						<h5>CHF 20+<span>/month</span></h5>
					</div>
					<div class="pc-details">
						<div class="pc-icon">
							<img src="img/pricing-icons/webapp.svg" alt="#">
						</div>
						<ul>
							<li>Bulletproof</li>
							<li>Unlimited Traffic</li>
							<li>DDOS Protection & SSL Certificate</li>
							<li>Load Balancing</li>
							<li>Supports Multiple Runtime Environments</li>
						</ul>
						<a href="mailto:service@gpucluster.net?subject=BPWebApp" class="site-btn">Get Quotes</a>
					</div>
				</div>
			</div>




		</div>
	</div>
</section>

<section class="page-top-section set-bg" data-setbg="img/page-top-bg/3.jpg">
	<div class="container">
		<h2>Contact</h2>
	</div>
</section>
<!-- Page Top section end -->
<section class="contact-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 contact-text">
				<h4 class="contact-title">Contact us</h4>
				<p>Please contact us through the following E-mail. We keep everything light. We keep everything
					secrete. We keep everything simple. Don't ask. Don't tell.
				</p>

				<div class="contact-info">
					<div class="ci-icon">
						<img src="img/contact-icons/1.png" alt="">
					</div>
					<h6>Everywhere</h6>
				</div>
				<div class="contact-info">
					<div class="ci-icon">
						<img src="img/contact-icons/2.png" alt="">
					</div>
					<h6>XMPP:</h6>
					<h6>furious@thesecure.biz</h6>
				</div>
				<div class="contact-info">
					<div class="ci-icon">
						<img src="img/contact-icons/3.png" alt="">
					</div>
					<h6>E-Mail:</h6>
					<h6>service@gpucluster.ch</h6>
				</div>
			</div>
			<div class="col-lg-6">

				<img src="https://images.idgesg.net/images/article/2019/02/big_data_center_server_racks_storage_binary_analytics_by_monsitj_gettyimages-1005771270_3x2-100787359-large.jpg"
					alt="">
			</div>
		</div>
	</div>
</section>