<!-- Hero section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="/img/bg.jpg">
            <div class="container">
                <h2>Terms and Conditions</h2>
                <h3>
                    No spamming, <danger>racist content</danger>, <extrem>religious extremism</extrem>, and <disgust>
                        child
                        pornography</disgust>.</h3>
                <br>
                <h3>
                    <algo-terms>Algorithm 7
                    </algo-terms> reserves the right to
                    take
                    down
                    your site
                    if the rules are violated. No refund will be given.
                </h3>
                <br>
                <h3>
                    <algo-terms>Algorithm 7</algo-terms> doesn't use cookies and collect any type
                    information
                    from you.
                    Absolutely nothing.
                </h3>
                <br>
                <h3>
                    <algo-terms>Algorithm 7</algo-terms> reserves the right to update the terms and
                    conditions at anytime
                    without
                    prior
                    notice.
                </h3>
                <!-- <p>Don't tell</p>
					<div class="clearfix"></div>
					<a href="" class="site-btn sb-c1">Read More</a> -->
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->