{{!-- <!-- Footer top section -->
<section class="footer-top-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="footer-widget about-widget">
					<img src="img/logo.png" alt="">
					<h3>
						<algo-terms>Algorithm 7. </algo-terms> Don't Ask. Don't Tell.
					</h3>
				</div>
			</div>
			<div class="col-lg-6 col-sm-4">
				<div class="footer-widget">
					<h5 class="fw-title">Our Services</h5>
					<ul>
						<li><a href="">Website Hosting</a></li>
						<li><a href="">Domain Management</a></li>
						<li><a href="">Web Application Hosting</a></li>
						<li><a href="">SSH Tunnel</a></li>

					</ul>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- Footer top section end -->



<!-- Footer section -->
<footer class="footer-section">
	<div class="container">
		<div class="copyright">
			<p>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;
				<script>
					document.write(new Date().getFullYear());
				</script> All rights reserved | Credit by <a href="https://colorlib.com" target="_blank">Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</p>
		</div>
	</div>
</footer>
<!-- Footer section end --> --}}