<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header section -->

<header class="header-section">
    <div class="container">
        <a href="#" class="site-logo">
            <img src="/img/logo.png" alt="logo">
        </a>
        <!-- Switch button -->
        {{!-- <div class="nav-switch">
            <div class="ns-bar"></div>
        </div> --}}
        <div class="header-right">
            {{!-- <ul class="main-menu">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="about">About us</a></li>
                <li><a href="service">Services</a></li> 
            <li><a href="elements">News</a></li>
             <li><a href="contact">Contact</a></li>
            </ul> --}}
            {{!-- <div class="header-btns">
                <a href="#" class="site-btn sb-c1">Support <span>24/7</span></a>
                <a href="#" class="site-btn sb-c2">Login</a>
                <a href="#" class="site-btn sb-c3">Register</a>
            </div> --}}
            {{!-- <div class="header-btns">
                <ul class="main-menu ">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="elements">News</a></li>
                </ul>
            </div> --}}
        </div>
    </div>
</header>
<!-- Header section end -->